name: Docker Build and Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out the code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build the Docker image
      run: |
        docker build -f Projeto.net2/Projeto.net2/Projeto.net/SmartCityApp/Dockerfile -t hellengod/smartcityapp:latest .

    - name: Push the Docker image
      run: |
        docker push hellengod/smartcityapp:latest

  verify_deployment_development:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Verify Deployment in Development
      run: |
        curl -f projeto-producao-d5fabecscvgbg7hf.brazilsouth-01.azurewebsites.net || exit 1